.CriarPost {
    background-color: green;
    height: 5%;
    width: 9%;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    border: none;
    outline: none;
}

.cordefundo {
    background-color: rgb(44, 26, 10);
    height: 70%;
    width: 50%;
    border-radius: 20px;
    box-shadow: 10px 10px 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: rgb(72, 38, 9);
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 5%;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.modal-header {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
}

.modal-body input::placeholder {
    color: white;
}

.modal-body textarea::placeholder {
    color: white;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: 3%;
}

.titulo {
    color: white;
    margin: 0;
}

.namebox {
    color: white;
    font-size: 24px;
}

.box {
    background-color: rgb(180, 125, 17);
    border: none;
    outline: none;
    border-radius: 5px;
    height: 14%;
    width: 100%;
}

.fechar {
    background-color: green;
    height: 100%;
    width: 25%;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    border: none;
    outline: none;
}

.cancelar {
    background-color: red;
    height: 100%;
    width: 25%;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    border: none;
    outline: none;
}
