.CriarPost {
    background-color: green;
    height: 5%;
    width: 9%;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    border: none;
    outline: none;
}

.modal {
    background-color: rgb(72, 38, 9);
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 3%;
    box-shadow: 10px 10px 50px 10px;

}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.modal-header {
    background-color: rgb(46, 24, 4);
    width: 100%;
    height: 10%;
    padding: 1%;
    margin: 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
}

.modal-body input::placeholder {
    color: white;
}

.modal-body textarea::placeholder {
    color: white;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 12%;
    margin-top: 3%;
}

.imagemlogo {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0%;
    margin: 0%;
}

.titulo {
    color: white;
    margin: 0;
    font-size: 38px;
    font-family: Almendra;
    font-weight: bold;
}

.namebox {
    color: white;
    font-size: 34px;
    font-family: Jomhuria;
}

.box {
    background-color: rgb(180, 125, 17);
    border: none;
    outline: none;
    border-radius: 5px;
    height: 14%;
    width: 100%;
}

.fechar {
    background-color: green;
    height: 100%;
    width: 20%;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    border: none;
    outline: none;
}

.cancelar {
    background-color: red;
    height: 100%;
    width: 20%;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    border: none;
    outline: none;
}


