.span-required
{
    display: none;
    flex-direction: block;
    align-items: center;
    margin: 3px 0 0 1px;
    font-size: 18px;
    letter-spacing: 2px;
    color: red;
}

.algoque {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.modalCriarUsuario {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #412307;
    height: 70%;
    width: 70%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 2%;
    box-shadow: black 10px 10px 50px 10px;
}

.modal-contentCriarUsuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.modal-headerCriarUsuario {
    background-color: #3c2007;
    width: 100%;
    height: 8%;
    padding: 1%;
    margin: 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(143, 86, 6) 0px 0px 80px 1px;
}

.modal-bodyCriarUsuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    margin: 0%;
}

.modal-footerCriarUsuario {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: 2%;
}

.imagemlogoCriarUsuario {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0%;
    margin: 0%;
}

.tituloCriarUsuario {
    color: white;
    margin: 0;
    font-size: 38px;
    font-family: "Almendra", serif;
    font-weight: 700;
}

.nameboxCriarUsuario {
    color: white;
    font-size: 34px;
    font-family: Jomhuria;
}

.fundoFormularioUsuarioCriarUsuario {
    background-color: #E6A549;
    border: #E6A549 solid 3px;
    outline: none;
    border-radius: 5px;
    height: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fundoFormularioUsuarioCriarUsuario:hover {
    background-color: hsla(35, 76%, 59%, 0.8);
    border: #E6A549 solid 3px;
}

.fundoFormularioUsuarioCriarUsuario input::placeholder {
    color: rgb(255, 255, 255);
    font-family: Jomhuria;
    font-size: 28px;
}

.fundoFormularioUsuarioCriarUsuario input {
    background-color: #e29c3a00;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 2%;
}

.fundoFormularioUsuarioCriarUsuario input:hover {
    background-color: rgba(180, 126, 17, 0);
    border: none;
}

.boxCriarUsuario {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: Jomhuria;
    font-size: 28px;
}

.imagemPerfilInputCriarUsuario::-webkit-file-upload-button {
    display: none;
}

.imagemPerfilInputCriarUsuario::before {
    content: 'Adicione a foto de perfil: ';
}

.imagemPerfilInputCriarUsuario {
    align-content: center;
}

.fecharCriarUsuario {
    background-color: #226c20;
    height: 100%;
    width: 15%;
    border-radius: 5px;
    padding-top: 3px;
    color: white;
    font-family: Jomhuria;
    font-size: 32px;
    border: 3px solid #226c20;
    outline: none;
    transition: background 0.2s;
}

.fecharCriarUsuario:hover {
    background-color: rgba(16, 123, 16, 0.51);
    border: 3px solid #226c20;
}

.cancelarCriarUsuario {
    background-color:red;
    height: 100%;
    width: 15%;
    border-radius: 5px;
    padding-top: 3px;
    color: white;
    font-family: Jomhuria;
    font-size: 32px;
    border: 3px solid red;
    outline: none;
    transition: background 0.2s;
}

.cancelarCriarUsuario:hover {
    background-color: rgba(255, 0, 0, 0.581);
    border: 3px solid red;
}

@media only screen and (max-width: 600px) {
    .modalCriarUsuario {
        height: 60%;
        width: 70%;
        border-radius: 15px;
        padding: 3%;
    }

    .modal-contentCriarUsuario {
        gap: 5px;
    }

    .modal-bodyCriarUsuario {
        gap: 5px;
    }

    .tituloCriarUsuario {
        font-size: 28px;
    }

    .modal-footerCriarUsuario {
        padding-top: 5%;
        height: 8%;
        margin-top: 1%;
    }

    .fundoFormularioUsuarioCriarUsuario {
        height: 10%;
    }

    .fundoFormularioUsuarioCriarUsuario input::placeholder {
        font-size: 22px;
    }

    .boxCriarUsuario {
        font-size: 22px;
    }

    .nameboxCriarUsuario {
        font-size: 30px;
    }

    .fecharCriarUsuario {
        height: 100%;
        width: 30%;
        padding-top: 0px;
        font-size: 28px;
    }

    .cancelarCriarUsuario {
        height: 100%;
        width: 30%;
        padding-top: 0px;
        font-size: 28px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .modalCriarUsuario {
        height: 60%;
        width: 70%;
        border-radius: 15px;
        padding: 3%;
    }

    .modal-contentCriarUsuario {
        gap: 5px;
    }

    .modal-bodyCriarUsuari{
        gap: 5px;
    }

    .tituloCriarUsuario {
        font-size: 38px;
    }

    .modal-footerCriarUsuario {
        padding-top: 2%;
        height: 8%;
        margin-top: 1%;
    }

    .fundoFormularioUsuarioCriarUsuario {
        height: 10%;
    }

    .fundoFormularioUsuarioCriarUsuario input::placeholder {
        font-size: 30px;
    }
    
    .boxCriarUsuario {
        font-size: 30px;
    }

    .nameboxCriarUsuario {
        font-size: 34px;
    }

    .fecharCriarUsuario {
        height: 100%;
        width: 30%;
        padding-top: 0px;
        font-size: 28px;
    }

    .cancelarCriarUsuario {
        height: 100%;
        width: 30%;
        padding-top: 0px;
        font-size: 28px;
    }
}

@media only screen and (max-width: 350px) {
    .tituloCriarUsuario {
        font-size: 20px;
    }

    .fecharCriarUsuario {
        height: 100%;
        width: 30%;
        padding-top: 1px;
        font-size: 22px;
    }

    .cancelarCriarUsuario {
        height: 100%;
        width: 30%;
        padding-top: 0px;
        font-size: 22px;
    }
}
