.CriarPost {
    background-color: green;
    height: 5%;
    width: 9%;
    border-radius: 5px;
    padding-top: 3px;
    color: white;
    font-family: Jomhuria;
    font-size: 28px;
    border: none;
    outline: none;
}

.CriarPost:hover {
    background-color: rgba(0, 128, 0, 0.51);
    border: green;
}

.modal {
    background-color: rgb(72, 38, 9);
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 2%;
    box-shadow: 10px 10px 50px 10px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.modal-header {
    background-color: rgb(46, 24, 4);
    width: 100%;
    height: 10%;
    padding: 1%;
    margin: 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(143, 86, 6) 0px 0px 80px 1px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    margin: 0%;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 12%;
    margin-top: 2%;
}

.imagemlogo {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0%;
    margin: 0%;
}

.titulo {
    color: white;
    margin: 0;
    font-size: 38px;
    font-family: Almendra;
    font-weight: bold;
}

.namebox {
    color: white;
    font-size: 34px;
    font-family: Jomhuria;
}

.fundoFormulario {
    background-color: rgb(180, 125, 17);
    border: none;
    outline: none;
    border-radius: 5px;
    height: 14%;
    width: 100%;
}

.fundoFormulario:hover {
    background-color: rgba(180, 126, 17, 0.689);
}

.fundoFormulario input::placeholder {
    color: rgb(255, 255, 255);
    font-family: Jomhuria;
    font-size: 28px;
}

.fundoFormulario textarea::placeholder {
    color: rgb(255, 255, 255);
    font-family: Jomhuria;
    font-size: 28px;
}

.fundoFormulario input {
    background-color: rgb(180, 125, 17);
    border: 3px solid rgb(180, 125, 17);
    outline: none;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    padding-left: 2%;
}

.fundoFormulario input:hover {
    background-color: rgba(180, 126, 17, 0);
    border: 3px solid rgb(180, 125, 17);
}

.fundoFormulario textarea {
    background-color: rgb(180, 125, 17);
    border: 3px solid rgb(180, 125, 17);
    outline: none;
    width: 100%;
    border-radius: 5px;
    padding-left: 2%;
}

.fundoFormulario textarea:hover {
    background-color: rgba(180, 126, 17, 0);
    border: 3px solid rgb(180, 125, 17);
}

textarea {
    max-height: 100%;
    max-width: 100%;
  }

.box {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: Jomhuria;
    font-size: 28px;
}

.imagemInput::-webkit-file-upload-button {
    display: none;
}
.imagemInput::before {
    content: 'Adicione a foto: ';
}

.fechar {
    background-color: green;
    height: 100%;
    width: 20%;
    border-radius: 5px;
    padding-top: 3px;
    color: white;
    font-family: Jomhuria;
    font-size: 28px;
    border: 3px solid green;
    outline: none;
    transition: background 0.2s;
}

.fechar:hover {
    background-color: rgba(0, 128, 0, 0.51);
    border: 3px solid green;
}

.cancelar {
    background-color: red;
    height: 100%;
    width: 20%;
    border-radius: 5px;
    padding-top: 3px;
    color: white;
    font-family: Jomhuria;
    font-size: 28px;
    border: 3px solid red;
    outline: none;
    transition: background 0.2s;
}

.cancelar:hover {
    background-color: rgba(255, 0, 0, 0.581);
    border: 3px solid red;
}


