.ExcluirPost {
    background-color: green;
    height: 5%;
    width: 9%;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    border: none;
    outline: none;
}

.modal {
    background-color: rgb(72, 38, 9);
    height: 5%;
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 2%;
    padding-bottom: 4%;
    box-shadow: 10px 10px 50px 10px;
}

.titulo {
    color: white;
    font-size: 18px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.modal-header {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 3%;
}

.sim {
    color: white;
    background-color: green;
    padding: 1% 2% 1% 2%;
    border-radius: 5px;
    border: none;
    outline: none;
}

.não {
    color: white;
    background-color: red;
    padding: 1% 2% 1% 2%;
    border-radius: 5px;
    border: none;
    outline: none;
}