
.modalD {
    background-color: #412307;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: 10%; */
    height: fit-content;
    width: 65%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 2%;
    box-shadow: black 10px 10px 50px 10px;
    z-index: 15;
}

.tatitulo {
    color: white;
    margin: 0;
    font-size: 24px;
    font-family: Almendra;
    font-weight: bold;
}


.tamodal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.tamodal-header {
    background-color: #3c2007;
    width: 100%;
    height: 50%;
    padding: 1%;
    margin: 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(143, 86, 6) 0px 0px 80px 1px;
}

.taimagemlogo {
    display: flex;
    flex-direction: row;
    height: 100%;
    max-height: 50px ;
    padding: 0%;
    margin: 0%;
}

.tamodal-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 35%;
}


.sim {
    background-color: #226c20;
    height: 100%;
    width: 15%;
    border-radius: 5px;
    color: white;
    font-family: Jomhuria;
    font-size: 32px;
    border: 3px solid #226c20;
    outline: none;
    transition: background 0.2s;
}

.sim:hover {
    background-color: rgba(0, 128, 0, 0.51);
    border: 3px solid #226c20;
}

.não {
    background-color: red;
    height: 100%;
    width: 15%;
    border-radius: 5px;
    color: white;
    font-family: Jomhuria;
    font-size: 32px;
    border: 3px solid red;
    outline: none;
    transition: background 0.2s;
}

.não:hover {
    background-color: rgba(255, 0, 0, 0.581);
    border: 3px solid red;
}

@media only screen and (max-width: 600px) {
    .modalD {
        height: 10%;
        width: 72%;
        border-radius: 15px;
        padding: 3%;
    }

    .taimagemlogo {
        display: flex;
        flex-direction: row;
        height: 100%;
        max-height: 50px ;
        padding: 0%;
        margin: 0%;
    }

    .tamodal-header {
        height: 40%;
    }

    .tatitulo {
        margin: 0;
        font-size: 12px;
    }

    .tamodal-content {
        gap: 13px;
    }

    .tamodal-body {
        width: 100%;
        height: 35%;
    }
    
    .sim {
        height: 100%;
        width: 20%;
        font-size: 24px;
    }
 
    .não {
        height: 100%;
        width: 20%;
        font-size: 24px;
    }
}

@media only screen and (max-width: 332px) {
    .tatitulo {
        font-size: 9px;
    }

    .sim{
        font-size: 18px;
    }

    .não{
        font-size: 18px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .modalD {
        height: 10%;
        width: 65%;
        border-radius: 15px;
        padding: 3%;
    }

    .tatitulo {
        font-size: 18px;
        font-family: Almendra;
        font-weight: bold;
    }

    .tamodal-content {
        gap: 13px;
    }

    .tamodal-body {
        width: 100%;
        height: 30%;
    }
    
    .sim {
        height: 100%;
        width: 20%;
        font-size: 30px;
    }
 
    .não {
        height: 100%;
        width: 20%;
        font-size: 30px;
    }
}
