*{
    margin: 0;
    padding: 0;
    list-style: none;
}

footer{
    z-index: 3;
}

.footerfiltro{
    width:100%;
    height: 100%;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display:none;
    z-index: 2;
}
.modalfotValor{
    width:85%;
    margin:inherit;
    height:fit-content;
    position: fixed;
    top: 40%;
    left: 50%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    border-radius: 14px;
    background: linear-gradient(180deg, #52331D 0%, #744321 100%);
    filter: drop-shadow(rgba(0, 0, 0, 0.80) 10px 10px 8px);
    gap:48px;
    padding-top: 2%;
    padding-bottom: 2%;
    z-index: 99;
}
.tboxmodalfotValor{
    display:flex;
    justify-content: start;
    align-items: center;
    width:93.5%;
}
.tboxmodalfotValor h1{
    font-family:Almendra;
    font-size:40px;
    color:white;
    width:70%
}
.clseboxmodalfotValor{
    width:100%;
    display:flex;
    justify-content:right;
    color:white;
    font-size: 40px;
}
.clseboxmodalfotValor button{
    text-decoration:none;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.textmodalfotValor{
    width:93%;
    font-family:Open Sans;
    font-size: 24px;
    color:#FFF4F0;
    display:flex;
    flex-direction: column;
    gap:8px;

}
.verModal{
    display:flex;
}


.negrito{
    font-weight:bold;
}
footer{
    font-family: "Open Sans";
    color: #FFF4F0;
    height: 137px;
    background: linear-gradient(90deg, #412307 0%, #A75A12 100%);
}

.footer-Container{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap:48px;
    
}

.footertext{
    color: #FFF4F0;
    text-decoration:none;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
#logoCodefooter{
    margin-top: 3% ;
    width: 185px;
    height: 41.733px;
}
#fotlogoIconBox{
    display:none;
    gap:20px;
}
#logoCodeFotBox img{
    width: 185px;
    height: 41.733px;
}
#logoCodeFotBox{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:12px;
    width: 185px;
    height: 41.733px;
}
#fotBoxInverter{
    display:flex;
    align-items: center;
    gap: 48px;
}
#boxValContacts{
    display:flex;
    align-items: center;
    gap: 48px;
}
.fotValor ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    height: 127px;
    padding: 2px;
    gap: 8px; 
    
}

.footValList{
    text-decoration:none;
    list-style: none;

}

.fotContacts{
    display: flex;
    height: 123px;
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px; 
}
.fotContactsText{
    padding:0px;
}
#fotSocials{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:12px;
}
.footerSocialButtons{
    color: #FFF4F0;
    text-decoration:none;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
#fotIconBox{
    display:flex;
    gap: 8px; 
    flex-direction:row;
}
.footerSocialButtons{
    font-size:32px;
}
@media (max-width: 302px){
    .textmodalfotValor{
        font-size:14px;
    }
    footer{
        font-family: "Open Sans";
        font-size:12px;
        color: #FFF4F0;
        height: 226px;
        background: linear-gradient(90deg, #412307 0%, #A75A12 100%);
    }
    .footer-Container{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap:16px;
        padding-top:5%;
    }
    .fotValor ul{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0;
        padding: 0;
        height: 127px;
        gap: 7px; 
        
    }
    .footValList{
        text-decoration:none;
        list-style: none;
    }
    #boxValContacts{
        display:flex;
        flex-direction:row-reverse;
        align-items: center;
        gap:6px;
        width:100%;
        padding: 0px;
        font-size:11px;
    }
    #fotBoxInverter{
        flex-direction:column-reverse;
        gap:0px;
    }
    .fotContacts{
        height: 112px;
        padding: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 7px; 
    }
    #fotSocialsTitle{
        display:none;
    }
    
    
    #fotIconBox{
        display:flex;
        gap: 16px; 
        flex-direction:row;
    }
}
@media (min-width: 303px) and (max-width: 353px){
    .textmodalfotValor{
        font-size:18px;
    }
    footer{
        font-family: "Open Sans";
        font-size:12px;
        color: #FFF4F0;
        height: 238px;
        background: linear-gradient(90deg, #412307 0%, #A75A12 100%);
    }
    .footer-Container{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap:16px;
        padding-top:3%;
    }
    .fotValor ul{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0;
        padding: 0;
        height: 127px;
        padding: 2px;
        gap: 7px; 
        
    }
    
    .footValList{
        text-decoration:none;
        list-style: none;
    }
    #boxValContacts{
        display:flex;
        flex-direction:row-reverse;
        align-items: center;
        gap:0px
    }
    #fotBoxInverter{
        flex-direction:column-reverse;
        gap:0px;
    }
    .fotContacts{
        height: 112px;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 7px; 
    }
    #fotSocialsTitle{
        display:none;
    }
    
    
    #fotIconBox{
        display:flex;
        gap: 16px; 
        flex-direction:row;
    }
}
@media (min-width: 330px) and (max-width: 433px){
    .textmodalfotValor{
        font-size:16px;
    }
    footer{
        font-family: "Open Sans";
        font-size:13px;
        color: #FFF4F0;
        height: 236px;
        background: linear-gradient(90deg, #412307 0%, #A75A12 100%);
    }
    .footer-Container{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap:16px;
        padding-top:2%;
    }
    .fotValor ul{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0;
        padding: 0;
        height: 127px;
        padding: 2px;
        gap: 8px; 
        
    }
    
    .footValList{
        text-decoration:none;
        list-style: none;
    }
    #boxValContacts{
        display:flex;
        flex-direction:row-reverse;
        align-items: center;
        gap:16px
    }
    #fotBoxInverter{
        flex-direction:column-reverse;
        gap:0px;
    }
    .fotContacts{
        height: 112px;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px; 
    }
    #fotSocialsTitle{
        display:none;
    }
    
    
    #fotIconBox{
        display:flex;
        gap: 16px; 
        flex-direction:row;
    }
}
@media (min-width: 434px) and (max-width: 550px){
    .textmodalfotValor{
        font-size:18px;
    }
    footer{
        font-family: "Open Sans";
        color: #FFF4F0;
        height: 236px;
        background: linear-gradient(90deg, #412307 0%, #A75A12 100%);
    }
    .footer-Container{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap:16px;
        padding-top:1.5%;
    }
    .fotValor ul{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0;
        padding: 0;
        height: 127px;
        padding: 2px;
        gap: 8px; 
        
    }
    
    .footValList{
        text-decoration:none;
        list-style: none;
    }
    #boxValContacts{
        display:flex;
        flex-direction:row-reverse;
        align-items: center;
        gap:16px
    }
    #fotBoxInverter{
        flex-direction:column-reverse;
        gap:0px;
    }
    .fotContacts{
        height: 112px;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px; 
    }
    #fotSocialsTitle{
        display:none;
    }
    
    
    #fotIconBox{
        display:flex;
        gap: 16px; 
        flex-direction:row;
    }
    
    .footericons{
        width:32px;
        height:32px;
        color:#FFF4F0;
    }
}
@media (min-width: 551px) and (max-width: 640px){
    .textmodalfotValor{
        font-size:18px;
    }
    footer{
        font-family: "Open Sans";
        color: #FFF4F0;
        height: 234px;
        background: linear-gradient(90deg, #412307 0%, #A75A12 100%);
    }
    .footer-Container{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap:16px;
        padding-top:0.8%;
    }
    .fotValor ul{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0;
        padding: 0;
        height: 127px;
        padding: 2px;
        gap: 8px; 
        
    }
    
    .footValList{
        text-decoration:none;
        list-style: none;
    }
    #boxValContacts{
        display:flex;
        flex-direction:row-reverse;
        align-items: center;
        gap:16px
    }
    #fotBoxInverter{
        flex-direction:column-reverse;
        gap:0px;
    }
    .fotContacts{
        height: 112px;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px; 
    }
    #fotSocialsTitle{
        display:none;
    }
    
    
    #fotIconBox{
        display:flex;
        gap: 16px; 
        flex-direction:row;
    }
    
    .footericons{
        width:32px;
        height:32px;
        color:#FFF4F0;
    }
}
@media (min-width: 641px) and (max-width: 765px){
    .footer-Container{
        gap:16px;
    }
    #boxValContacts{
        gap:16px;
    }
    #fotBoxInverter{
        gap:16px;
    }
    #fotSocials{
        display:none;
    }
    .footer-Container{
        font-size:14px;
    }
    #logoCodeFotBox{
        margin-bottom:1%;
    }
    #fotlogoIconBox{
        display:flex;
        gap:14px;
    }
    #logoCodeFooter{
        width:160px;
        height:36.09px;
    }
}
@media (min-width: 766px) and (max-width: 900px){
    .footer-Container{
        gap:16px;
    }
    #boxValContacts{
        gap:16px;
    }
    #fotBoxInverter{
        gap:16px;
    }
    .footer-Container{
        font-size:14px;
    }
}