* {

    margin: 0;
    padding: 0;
}
body{
    background-image: url("../assets/Couro.png");
    background-size:cover;
}
.select {
    color: white;
    background-color: transparent;
    border-radius: spx;
    border: none;
    overflow: hidden;
}
.select ::after{
    outline: none;
}

.header_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 800px;
    background-image: url("../assets/site-bg\ \(1\).png");
    min-height: 400px;
    background-size: 100% 400px;
    background-repeat: no-repeat;
    border-radius: 0 0 20px 20px;
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5%;
    margin: 0 10%;

}

.header_main h1{
    color: white;
    margin-top: 10%;
    font-family: "Jomhuria", serif;
    font-size: 5rem;
    font-weight: 400;
}

.search_main {
    width: 100%;
    margin: 0 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.search{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#52331D;
    height: 2rem;
    color: white;
    font-weight: bold;
    border-radius: 5px ;
    border: 1px solid white;
    padding: 10px;
    font-size: 1.35rem;
}
.search:hover{
    background-color: #5f381d;
}
.search input{
    background-color: transparent;
    margin-left: 5%;
    height: 100%;
    width: 100%;
    color: white;
    font: weight bold;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 1.35rem;
}
.search i {
    cursor: pointer;
    font-size: 1.10rem;
    padding-left: 2%;
}
.search input:focus {
    outline: none;
}
.search input::placeholder {
    color: #fff;
}
.filter-form {
    padding: 10px;
    width: 20%;
    background-color: #52331D;
    display: flex;
    flex-direction:row;
    font-weight: bold;
    flex-direction: row;
    align-items: center;
    border-radius:  5px;
    margin-left: 5%;
    border: 1px solid white;
    margin-left: 50px;
    margin-right: 50px;
    height: 2.0rem;
}
.filter-form:hover{
    background-color: #5f381d;
    .filter{
        background-color: #5f381d;
    }
}
.funil i {
    cursor: pointer;
    margin: 0 20px;
}

.funil i {
    cursor: pointer;
    margin: 0 20px;
}

.filter{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#52331D;
    padding: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.35rem;
    
}
.funil{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.filter i{
    margin-left: 10%;

}

.main_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0; /* Adicione mais preenchimento para garantir espaço ao redor dos cards */
    margin-bottom: 20px;
    margin-left: 0;
}

.card{
    width: 100%;
    height: 15rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 5px;
    border-radius: 20px ;
    margin-left: 0;
    cursor: pointer;
    margin-bottom: 4px;
    transition:0.3s ease-in-out;
    box-shadow: inset 0 -5px 1px rgba(0, 0, 0, 0.5),
                inset 0 -10px 1px rgba(0, 0, 0, 0.45),
                inset 0 -15px 1px rgba(0, 0, 0, 0.40),
                inset 0 -20px 1px rgba(0, 0, 0, 0.35),
                inset 0 -25px 1px rgba(0, 0, 0, 0.30),
                inset 0 -30px 1px rgba(0, 0, 0, 0.25),
                inset 0 -35px 1px rgba(0, 0, 0, 0.20),
                inset 0 -40px 1px rgba(0, 0, 0, 0.15),
                inset 0 -45px 1px rgba(0, 0, 0, 0.12),
                inset 0 -50px 1px rgba(0, 0, 0, 0.10),
                inset 0 -55px 1px rgba(0, 0, 0, 0.08),
                inset 0 -60px 1px rgba(0, 0, 0, 0.06),
                inset 0 -65px 1px rgba(0, 0, 0, 0.04),
                inset 0 -70px 1px rgba(0, 0, 0, 0.04),
                inset 0 -75px 1px rgba(0, 0, 0, 0.04),
                inset 0 -80px 1px rgba(0, 0, 0, 0.04),
                inset 0 -85px 1px rgba(0, 0, 0, 0.04),
                inset 0 -90px 1px rgba(0, 0, 0, 0.04),
                inset 0 -95px 1px rgba(0, 0, 0, 0.04),
                inset 0 -100px 1px rgba(0, 0, 0, 0.04),
                inset 0 -105px 1px rgba(0, 0, 0, 0.04),
                inset 0 -110px 1px rgba(0, 0, 0, 0.04),
                inset 0 -115px 1px rgba(0, 0, 0, 0.04),
                inset 0 -120px 1px rgba(0, 0, 0, 0.04),
                inset 0 -125px 1px rgba(0, 0, 0, 0.04),
                inset 0 -130px 1px rgba(0, 0, 0, 0.04),
                inset 0 -135px 1px rgba(0, 0, 0, 0.04),
                inset 0 -140px 1px rgba(0, 0, 0, 0.04),
                inset 0 -145px 1px rgba(0, 0, 0, 0.04),
                inset 0 -150px 1px rgba(0, 0, 0, 0.04),
                inset 0 -155px 1px rgba(0, 0, 0, 0.04),
                inset 0 -160px 1px rgba(0, 0, 0, 0.04),
                inset 0 -165px 1px rgba(0, 0, 0, 0.04),
                inset 0 -170px 1px rgba(0, 0, 0, 0.04),
                inset 0 -175px 1px rgba(0, 0, 0, 0.04),
                inset 0 -180px 1px rgba(0, 0, 0, 0.04),
                inset 0 -185px 1px rgba(0, 0, 0, 0.04),
                inset 0 -190px 1px rgba(0, 0, 0, 0.04),
                inset 0 -195px 1px rgba(0, 0, 0, 0.04),
                inset 0 -200px 1px rgba(0, 0, 0, 0.04);
}
.card:hover{
    transform: scale(110%);
}
.card h4{
    color: #A7D49B;
    font-family: "Cormorant Upright", serif;
    margin-left: 4%;
    font-size: 1.5rem;



}
.card h5{
    color: white;
    font-family: "Open Sans", sans-serif;
    margin-left: 4%;
    font-size: 1.5rem;
    padding-bottom: 5%;
}
.pagination_row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 10;
    margin-top: 7.5rem;
    font-size: 1.5rem;
}
.pagination_row span {
    margin-left: 1%;
    color: white;
    padding: 7px;
    background-color: rgba(82, 51, 29, 0.8);

}
.pagination_row i {
    margin-left: 1%;
    padding: 7px;
    background-color: rgba(82, 51, 29, 0.8);
}
@media only screen and (max-width: 1280px) {
    .card{
        width: 100%;
        min-height: 340px;
    }
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 10%;
    }

    .header_main {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .search_main {
        flex-direction: column;
        align-items: center;
    }

    .search{
        margin-left: 0;
        margin-bottom: 1rem;
        width: 35%;
    }

    .filter-form{
        width: 35%;
    }
}

@media only screen and (max-width: 900px){
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 10%;
    }
    .card{
        width: 100%;
    }
    .search{
        width: 40%;
    }
    .filter-form{
        width: 40%;
    }
    .pagination_row{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 7.5rem;
    }
}
@media only screen and (max-width: 600px) {
    .content{
        grid-template-columns: 1fr;
        grid-gap: 1% 0%;
        padding-bottom: 10px;
        width: 100%;
        margin: 0 0 100px 0;
    }
    .card {
        width: 80%;
        margin-left: 9%;
    }
    
    .search_main {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        gap: 10%;
    }
    .filter-form{
        width: 80%;
        justify-content: center;
    }
    .search {
        margin-left: 0;
        width: 80%;
    }
    .header_main {
        height: 400px;
    }
    .header_main h1 {
        margin-top: 25%;
    }
    .pagination_row {
        display: none;
    }
    .funil{
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .funil i {
        display: flex;
        align-items: center;
        margin: 0 10px;
    }
}
@media(max-width: 320px){ 
    .content{
        grid-template-columns: 1fr;
        grid-gap: 1%;
        
    }
    .card {
        width: 90%;
        margin-top: 20px;
        margin: 0;
        margin-left: 3%;
    }
    
    .search_main {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        gap: 10%;
    }

    .search {
        padding: 5% 0;
        width: 90%;
        margin: 0 0 0 2.5%;

    }
    .header_main {
        height: 400px;
    }
    .header_main h1 {
        margin-top: 25%;
        font-size: 3rem;
    }
    .pagination_row {
        display: none;
    }
    .funil{
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .funil i {
        display: flex;
        align-items: center;
        margin: 0 10px;
    }
    .header_main h1{
        font-size: 64px;
    }
    .card h4{
        color: #A7D49B;
        font-family: "Cormorant Upright", serif;
        margin-left: 4%;
        font-size: 20px;
    
    }
    .card h5{
        color: white;
        font-family: "Open Sans", sans-serif;
        margin-left: 4%;
        margin-bottom: 3%;
        font-size: 16px;
    }
    .filter-form {
        padding: 5% 0;
        width: 90%;
        margin: 0 0 0 2.5%;
    }
    .card{
        height: 10rem;
        
    }
    
}