body {
    display: flex;
    background-color: #291807;
}

.ImagemFundo {
    background-image: url('../assets/Fundo\ Rustico.png');
    background-repeat: no-repeat;
    width: 1440px;
    height: 1000px;
}

