body {
    padding: 0px;
    margin: 0px;
    background-color: #291807;
    background-size: contain;
}

.ImagemFundo {
    background-image: url('../assets/Fundo\ Rustico.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    height: 1080px;
}

.ImagemJogos {
    background-image: url('../assets/Jogos.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    border-radius: 0 0 80px 80px;
}

.AbaLogin h1 {
    color: #E6A549;
    margin: 0px
    padding: 50px ;
    justify-self: center;
}

.AbaLogin {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 50px;
    margin: 118px 468px;
    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 30px;
    gap: 50px;
}

.EmailSenha {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 10px 20px;
    width: 350px;
    height: 140px;
    gap: 15px;
    margin: 0px;
}

.Botão {
    display: flex;
    justify-content: center;
}

.Botão button {
    background-color: #429741;
    border-radius: 15px;
    padding: 20px;
    width: 150px;
    height: 60px;
}