
body {
    padding: 0px;
    margin: 0px;
    background-color: #291807;
    background-size: contain;
}

.ImagemFundo {
    background-image: url('../assets/Fundo\ Rustico.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flax;
    width: 100%;
    height: 1080px;
}

.ImagemJogos h1 {
    font-size: 80px;
    color: #E6A549;
    margin: 0;
}

.ImagemJogos {
    background-image: url('../assets/Jogos.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 25%;
    border-radius: 0 0 80px 80px;
    box-shadow: 10px 30px 30px rgba(0, 0, 0, 0.637);
    display: flex;
    justify-content: center;
    align-items: center;
}


.AbaLogin h1 {
    color: #E6A549;
    margin: 0px;
    justify-self: center;
    font-size: 40px;
}

.AbaLogin {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3% 2% ;
    margin: 10% 34%;
    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 30px;
    gap: 50px;
    box-shadow: 30px 30px 50px 10px rgba(0, 0, 0, 0.637);

}

.EmailSenha {
    display: flex;
    flex-direction: column;
    justify-self: center;  
    height: 140px;
    gap: 15px;
}

.EmailSenha input {
    width: 350px;
    height: 60px;
    border-radius: 10px;
    background-color: #e6a549;
    transition: background 0.2s;
}

.EmailSenha input:hover {
    background-color: #e6a54996;
    border: 2.5px solid #E6A549;
}

.EmailSenha input::placeholder {
    color: white;
    font-size: 20px;
    padding: 10px;
}

.email {
    color: white;
    font-size: 20px;
    padding: 10px;
}

.senha {
    color: white;
    font-size: 20px;
    padding: 10px;
}

.Botão {
    display: flex;
    justify-content: center;
}

.Botão button {
    background-color: #429741;
    font-size: 25px;
    color: white;
    border-radius: 15px;
    padding-top: 2px;
    width: 150px;
    height: 60px;
    justify-content: center;
    align-items: center;
    transition: background 0.2s;
}

.Botão button:hover {
    background-color: #429741a2;
    border: 2.5px solid #429741;
}