.disabled{
    background-color:#4d4d4d;
    pointer-events: none;
}
.disabled i{
    color:rgb(156, 155, 155);
}
.posicionaPagtabelaPost{
    position:fixed;
    top: 90%;
    left: 50%;
    display:flex;
    transform: translate(-50%, -50%); 
} 
.page-item a{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color:#a3521fc2;
}
.pagination{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
}
.pagination li{
    width:35px;
    height:35px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.page-numbers{
    font-family: "Open Sans";
    font-size:20px;
    color:rgb(156, 155, 155);
    text-decoration:none;
    font-weight:bold;
    pointer-events: none;
}

.bi-caret-left-fill{
    color:white;
    font-size: 20px;
}
.bi-caret-right-fill{
    color:white;
    font-size: 20px;
}

.active{
    color:white;
    pointer-events: all;
}