/* Reset */
*{
    padding: 0;
    margin: 0;
}

/* Background */
body{
    background-image: url(/public/assets/background.png);
    background-attachment: fixed;
    background-size: cover;
}

/* Sidebar */
.sidebar{
    width: 15%;
    height: 800px;
    box-shadow: 4px 4px rgb(0, 0, 0, 0.6);
    background-color: #412307;
    display: flex;
    justify-content: center;
}


