/* Reset */
*{
    padding: 0;
    margin: 0;
}

/* Background */
body{
    background-image: url(/public/assets/background.png);
    background-attachment: fixed;
    background-size: cover;
}

/* Sidebar */

/* Estrutura */
.sidebar{
    background-color: #412307;
    background-image: url(/public/assets/fundo-sidebar.jpg);
    background-attachment: fixed;
    background-size: contain;
    width: 3%;
    height: 100%;
    padding: 170px 0 40px 1%;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.8);
    overflow: hidden;
    transition: 0.02s;
    position: fixed;
    top: 0;
    left: 0;
}
.sidebar:hover{
    width: 20%;
}

/* Itens */
.sidebar-close{
    display: none;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul .items-menu{
    transition: 0.2s;
}
ul .items-menu:hover{
    background-color: #429741a2;
    border: 0px solid #429741;
    border-radius: 15px;
}
ul .items-menu a{
    line-height: 20px;
    text-decoration: none;
    font-size: 30px;
    font-family: Jomhuria;
    color: white;
    margin-bottom: 8%;
    display: flex;
    padding: 15px 5%;
}
ul .items-menu a .link-txt{
    display: flex;
    padding-top: 4px;
    margin-left: 40px;
}
ul .items-menu a .icon{
    font-size: 20px;
}

/* Modal */

.modal-logout{
    padding: 12px;
    background-image: url(/public/assets/fundo-sidebar.jpg);
    background-attachment: fixed;
    background-size: contain;
    color: white;
    border-radius: 20px;
    width: 15%;
    height: fit-content;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    position: absolute;
    top: 35%;
    left: 42%;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 3px;
}
.modal-logout p{
    margin-top: 20%;
    margin-bottom: 20%;
    font-family: Open Sans;
    font-size: 18px;
}
.btn-open{
    background-color: #429741;
    font-family: Jomhuria;
    font-size: 28px;
    border-radius: 10px;
    color: white;
    padding: 4px 2px 0px;
    box-shadow: none;
    transition: 0.02s;
    border: none;
}
.btn-open:hover{
    background-color: #429741a2;
}
.btn-close{
    background-color: rgb(219, 42, 42);
    font-family: Jomhuria;
    font-size: 28px;
    border-radius: 10px;
    color: white;
    padding: 4px 2px 0px;
    box-shadow: none;
    transition: 0.02s;
    border: none;
}
.btn-close:hover{
    background-color: rgb(124, 5, 5);
}

/* Responsividade */
@media (max-width: 480px){ /* Celular */

    .sidebar{
        background-size: 1175px;
        width: 8%;
        padding: 195px 0 40px 1%;
    }
    .sidebar:hover{
        width: 38%;
    }

    /* Itens */
    .sidebar-close{
        display: none; 
        font-size: 20px;
        color: white;
        margin-bottom: 6%;
    }
    ul .items-menu:hover{
        background-color: #429741a2;
        border: 0px solid #429741;
        border-radius: 15px;
    }
    ul .items-menu a{
        padding-left: 4px;
        line-height: 10px;
    }
    ul .items-menu a .link-txt{
            display: flex;
            padding-top: 7px;
            margin-left: 20px;
    }
    ul .items-menu a .icon{
            font-size: 18px;
    }

    /* Modal */

    .modal-logout{
        padding: 12px;
        background-size: 400px;
        width: 40%;
        top: 35%;
        left: 30%;
    }
}