/* Reset */
*{
    padding: 0;
    margin: 0;
}

/* Background */
body{
    background-image: url(/public/assets/background.png);
    background-attachment: fixed;
    background-size: cover;
}

/* Sidebar */

/* Estrutura */
.sidebar{
    background-color: #412307;
    background-image: url(/public/assets/fundo-sidebar.jpg);
    background-attachment: fixed;
    background-size: contain;
    width: 3%;
    height: 100%;
    padding: 40px 0 40px 1%;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.8);
    overflow: hidden;
    transition: 0.02s;
    position: fixed;
    top: 0;
    left: 0;
}
.sidebar:hover{
    width: 20%;
}

/* Itens */
.sidebar-close{
    width: 100%;
    padding-left: 4%;
    margin-bottom: 15%;
}
.sidebar-close i{
    cursor: pointer;
    font-size: 20px;
    color: white;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul .items-menu{
    transition: 0.2s;
}
ul .items-menu:hover{
    background-color: #429741a2;
    border: 2.5px solid #429741;
}
ul .items-menu a{
    line-height: 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-bottom: 8%;
    display: flex;
    padding: 15px 5%;
}
ul .items-menu a .link-txt{
    display: flex;
    margin-left: 40px;
}
ul .items-menu a .icon{
    font-size: 20px;
}

/* Modal */

.modal-logout{
    padding: 12px;
    background-color: white;
    width: 15%;
    height: fit-content;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 45%;
    left: 50%;
}