
.modalV {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #412307;
    height: 85%;
    width: 70%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 2%;
    box-shadow: black 10px 10px 50px 10px;
    z-index: 4;
}

.imagem-post{
    max-width: 600px;
    width: 100%;
    border-radius: 20px;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.left{
    width: 50%;
}
.right{
    width: 50%;
    margin-left: 5%;
}

.imagem-legal{
    display: flex;
    justify-content: center;
}

.modalV-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.modalV-header {
    background-color: #3c2007;
    width: 100%;
    height: 10%;
    padding: 1%;
    margin: 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(143, 86, 6) 0px 0px 80px 1px;
}

.modalV-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    margin: 0%;
}

.modalV-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 12%;
    margin-top: 2%;
}

.imagemVlogo {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0%;
    margin: 0%;
}

.tituloV {
    color: white;
    margin: 0;
    font-size: 38px;
    font-family: "Almendra", serif;
    font-weight: 700;
}

.nameVbox {
    color: white;
    font-size: 40px;
    font-family: Jomhuria;
}

.boxVselect {
    background-color: #E6A549;
    width: 100%;
    height: 100%;
    outline: none;
    border: 3px solid #e29c3a;
    border-radius: 5px;
    padding-left: 2%;
}

.boxVselect:hover {
    background-color: #e6a54900;
    border: 3px solid #e29c3a;
}

.fundoVFormulario {
    background-color: #E6A549;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 12%;
    width: 100%;
}
.fundoVFormularioCont {
    background-color: #E6A549;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 24%;
    width: 100%;
}

.fundoVFormulario:hover {
    background-color: hsla(35, 76%, 59%, 0.8);
}

.fundoVFormulario input::placeholder {
    color: rgb(255, 255, 255);
    font-family: Jomhuria;
    font-size: 28px;
}

.fundoVFormularioCont textarea::placeholder {
    color: rgb(255, 255, 255);
    font-family: Jomhuria;
    font-size: 28px;
}

.fundoVFormulario input {
    background-color: #e29c3a;
    border: 3px solid #e29c3a;
    outline: none;
    width: 97%;
    border-radius: 5px;
    height: 100%;
}

.fundoVFormulario input:hover {
    background-color: rgba(180, 126, 17, 0);
    border: 3px solid #e29c3a;
}

.fundoVFormularioCont textarea {
    background-color: #e29c3a;
    border: 3px solid #e29c3a;
    outline: none;
    width: 100%;
    height: 85%;
    border-radius: 5px;
    padding-left: 1.8%;
    padding-top: 1%;
}

.fundoVFormularioCont textarea:hover {
    background-color: rgba(180, 126, 17, 0);
    border: 3px solid #e29c3a;
}

.boxV {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-family: Jomhuria;
    padding-left: 2%;
    width: 80%;
}

.imagemInput::-webkit-file-upload-button {
    display: none;
}

.imagemInput::before {
    content: 'Adicione a foto: ';
}

.fechar {
    background-color: #226c20;
    height: 100%;
    width: 20%;
    border-radius: 5px;
    padding-top: 3px;
    color: white;
    font-family: Jomhuria;
    font-size: 32px;
    border: 3px solid #226c20;
    outline: none;
    transition: background 0.2s;
}

.fechar:hover {
    background-color: rgba(16, 123, 16, 0.51);
    border: 3px solid #226c20;
}

.cancelar {
    background-color:red;
    height: 100%;
    width: 20%;
    border-radius: 5px;
    padding-top: 3px;
    color: white;
    font-family: Jomhuria;
    font-size: 32px;
    border: 3px solid red;
    outline: none;
    transition: background 0.2s;
}

.cancelar:hover {
    background-color: rgba(255, 0, 0, 0.581);
    border: 3px solid red;
}

.fecharViPost {
    background-color: #226c20;
    height: 100%;
    width: 15%;
    border-radius: 5px;
    padding-top: 3px;
    color: white;
    font-family: Jomhuria;
    font-size: 32px;
    border: 3px solid #226c20;
    outline: none;
    transition: background 0.2s;
}

.modal-footerViPost {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: 2%;
}

.fecharViPost:hover {
    background-color: rgba(16, 123, 16, 0.51);
    border: 3px solid #226c20;
}

@media only screen and (max-width: 600px) {
    .modalV {
        height: 85%;
        width: 70%;
        border-radius: 15px;
        padding: 3%;
    }

    .container{
        display: block;
        flex-direction: column;
    }
    .right {
        margin-left: 0;
    }

    .modalV-content {
        gap: 5px;
    }

    .modalV-body {
        gap: 2px;
    }

    .tituloV {
        font-size: 20px;
    }

    .fundoVFormulario {
        height: 10%;
    }

    .fundoVC {
        height: 7%;
        padding-top: 5px;
    }

    .fundoVFormularioCont {
        height: 20%;
    }

    .fundoVFormulario input::placeholder {
        font-size: 22px;
    }
    
    .fundoVFormularioCont textarea::placeholder {
        font-size: 22px;
    }

    .fundoVFormulario input{
        width: 97%;
        height: 78%;
    }

    .fundoVFormularioCont textarea {
        width: 96%;
        height: 80%;
    }

    .boxV {
        font-size: 22px;
    }

    .nameVbox {
        font-size: 30px;
    }

    .fecharViPost {
        width: 20%;
        font-size: 28px;
    }

    .imagem-post {
        width: 60%;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
    }
}

@media only screen and (max-width: 370px) {
    .modalV-body {
        height: 75%;
    }
    
    .tituloV {
        font-size: 18px;
    }
    .fundoVFormulario input{
        padding-left: 0.5%;
    }

    .container{
        flex-direction: column;
    }

    .fundoVFormularioCont textarea {
        padding-left: 0.3%;
        padding-top: 4%;
    }

    .fecharViPost {
        width: 25%;
        font-size: 20px;
        height: 47%;
    }
    .imagem-post{
        padding-top: 0.5%;
        width: 75%;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .modalV {
        top: 50%;
        height: 92%;
        width: 70%;
        border-radius: 15px;
        padding: 3%;
    }

    .container{
        display: block;
        width: 100%;
    }

    .left{
        width: 100%;
        margin-bottom: 0;
    }
    .right{
        width: 100%;
        margin-left: 0;
    }
    .modalV-content {
        gap: 5px;
    }

    .modalV-body {
        gap: 2px;
    }

    .tituloV {
        font-size: 38px;
    }

    .fundoVFormulario {
        height: 10%;
    }

    .fundoVFormularioCont {
        height: 22%;
    }

    .fundoVFormulario input::placeholder {
        font-size: 30px;
    }
    
    .fundoVFormularioCont textarea::placeholder {
        font-size: 30px;
    }

    .boxV {
        font-size: 30px;
    }

    .nameVbox {
        font-size: 34px;
    }

    .imagem-post{
        width: 40%;
    } 
}

@media only screen and (min-height: 850px) {
    .modalV {
        height: 70%;
    }
}

