
.modalVUser {
    z-index: 5;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #412307;
    height: 45vh;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 2%;
    box-shadow: black 10px 10px 50px 10px;
}

.modal-contentVUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.modal-headerVUser {
    background-color: #3c2007;
    width: 100%;
    height: 10%;
    padding: 1%;
    margin: 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(143, 86, 6) 0px 0px 80px 1px;
}

.modal-bodyVUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    margin: 0%;
}

.modal-footerVUser {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 12%;
    margin-top: 5%;
}

.imagemlogoVUser {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0%;
    margin: 0%;
}

.tituloVUser {
    color: white;
    margin: 0;
    font-size: 38px;
    font-family: "Almendra", serif;
    font-weight: 700;
}

.nameboxVUser {
    color: white;
    font-size: 34px;
    font-family: Jomhuria;
}

.fundoFormularioVUser {
    background-color: #E6A549;
    border: #E6A549 solid 3px;
    outline: none;
    border-radius: 5px;
    height: 16%;
    width: 100%;
}

.fundoFormularioVUser:hover {
    background-color: hsla(35, 76%, 59%, 0.8);
    border: #E6A549 solid 3px;
}

.fundoFormularioVUser input::placeholder {
    color: rgb(255, 255, 255);
    font-family: Jomhuria;
    font-size: 28px;
}

.fundoFormularioVUser input {
    background-color: #e29c3a00;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 2%;
}

.fundoFormularioVUser input:hover {
    background-color: rgba(180, 126, 17, 0);
    border: none;
}

.boxVUser {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: Jomhuria;
    font-size: 28px;
}

.imagemPerfilInputVUser::-webkit-file-upload-button {
    display: none;
}

.imagemPerfilInputVUser::before {
    content: 'Adicione a foto de perfil: ';
}

.imagemPerfilInputVUser {
    align-content: center;
}

@media only screen and (max-width: 600px) {
    .modalVUser {
        height: 45vh;
        width: 100%;
        border-radius: 15px;
        padding: 3%;
    }

    .modal-contentVUser {
        gap: 5px;
    }

    .modal-bodyVUser {
        gap: 5px;
    }

    .tituloVUser {
        font-size: 24px;
    }

    .fundoFormularioVUser {
        height: 13%;
    }

    .fundoFormularioVUser input::placeholder {
        font-size: 22px;
    }

    .boxVUser {
        font-size: 22px;
    }

    .nameboxVUser {
        font-size: 30px;
    }
}

@media only screen and (max-width: 370px) {
    .tituloVUser {
        font-size: 14px;
    }

    .fundoFormularioVUser {
        height: 12%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .modalVUser {
        height: 60%;
        width: 70%;
        border-radius: 15px;
        padding: 3%;
    }

    .modal-contentVUser {
        gap: 5px;
    }

    .modal-bodyVUser {
        gap: 5px;
    }

    .tituloVUser {
        font-size: 38px;
    }

    .fundoFormularioVUser {
        height: 15%;
    }

    .fundoFormularioVUser input::placeholder {
        font-size: 30px;
    }
    
    .boxVUser {
        font-size: 30px;
    }

    .nameboxVUser {
        font-size: 34px;
    }
}

