.CriarPost {
    background-color: #439741;
    height: 5%;
    width: 9%;
    border-radius: 5px;
    padding-top: 3px;
    color: white;
    font-family: Jomhuria;
    font-size: 28px;
    border: none;
    outline: none;
}

.CriarPost:hover {
    background-color: rgba(0, 128, 0, 0.51);
    border: #439741;
}

.modalV {
    position: absolute;
    background-color: #412307;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 2%;
    box-shadow: 10px 10px 50px 10px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.modal-header {
    background-color: #3c2007;
    width: 100%;
    height: 10%;
    padding: 1%;
    margin: 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(143, 86, 6) 0px 0px 80px 1px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    margin: 0%;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 12%;
    margin-top: 5%;
}

.imagemlogo {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0%;
    margin: 0%;
}

.titulo {
    color: white;
    margin: 0;
    font-size: 38px;
    font-family: "Almendra", serif;
    font-weight: 700;
}

.namebox {
    color: white;
    font-size: 34px;
    font-family: Jomhuria;
}

.fundoFormulario {
    background-color: #E6A549;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 14%;
    width: 100%;
}

.fundoFormulario:hover {
    background-color: hsla(35, 76%, 59%, 0.8);
}

.fundoFormulario input::placeholder {
    color: rgb(255, 255, 255);
    font-family: Jomhuria;
    font-size: 28px;
}

.fundoFormulario input {
    background-color: #e29c3a;
    border: 3px solid #e29c3a;
    outline: none;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    padding-left: 2%;
}

.fundoFormulario input:hover {
    background-color: rgba(180, 126, 17, 0);
    border: 3px solid #e29c3a;
}

.box {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: Jomhuria;
    font-size: 28px;
}


