<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CriarUsuario</title>
    <!-- <link rel="stylesheet" href="../../../public/css/criarUsuario.css"> -->
</head>
<body>
    <div class="container">
        <h1>Novo Usuário</h1>
        <div class="criar">
            <form>
                <label for="name" class="namebox">Nome:</label><br>
                <input type="text" class="box" placeholder="Coloque seu nome" name="name"><br>

                <label for="Email" class="namebox">Email:</label><br>
                <input type="email" class="box" placeholder="Insira seu email" name="Email"><br>

                <label for="senha" class="namebox">Senha:</label><br>
                <input type="password" class="box" placeholder="Crie uma senha" name="senha"><br>
            
            </form>
        </div>
    </div>
</body>
</html>