<link rel="stylesheet" href="../../../public/css/criarPost.css">

<!-- Open The Modal -->
<button class="CriarPost">Criar Post</button>

<!-- The Modal -->

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="titulo">Criar Post</h2>
        </div>
            <form class="modal-body">
                <label for="name" class="namebox">Usuário:</label>
                <input type="text" class="box" placeholder="Coloque seu nome" name="name">

                <label for="title" class="namebox">Título:</label>
                <input type="text" class="box" placeholder="Insira o título" name="title">

                <label for="text" class="namebox">Conteúdo:</label>
                <textarea type="text" class="box" placeholder="Escreva o conteúdo" name="text"></textarea>

                <label for="imagem" class="namebox">Imagem:</label>
                <input type="image" class="box" placeholder="Adicione a foto" name="imagem">

                <label for="data" class="namebox">Data de criação do post:</label>
                <input type="date" class="box" placeholder="XX/XX/XXXX" name="data">

                <div class="modal-footer">
                    <button class="cancelar">Cancelar</button>
                    <button type="submit" class="fechar">Criar</button>
                </div>
            </form>
    </div>

</div>