<link rel="stylesheet" href="../../../public/css/editarUsuario.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jomhuria">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sail">
<link href="https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700" rel="stylesheet"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Open The Modal -->
<button class="EditarUsuario">Editar Usuário</button>

<!-- The Modal -->

<div id="myModal" class="modalEditarUsuario">

    <!-- Modal content -->
    <div class="modal-contentEditarUsuario">
        <div class="modal-headerEditarUsuario">
            <img class="imagemlogo" src="../../../public/assets/Logo.png" alt="">
            <h2 class="titulo">Editar Usuário</h2>
            <img class="imagemlogo" src="../../../public/assets/Logo.png" alt="">

        </div>
        <form class="modal-bodyEditarUsuario">
            <label for="name" class="namebok"></label>
            <div class="fundoFormularioUsuario">
                <input type="file" class="box imagemPerfilInput" name="imagem" required>
            </div>

            <label for="name" class="namebox">Nome:</label>
            <div class="fundoFormularioUsuario">
                <input type="text" class="box" placeholder="Editar o nome" name="name">
            </div>

            <label for="email" class="namebox">Email:</label>
            <div class="fundoFormularioUsuario">
                <input type="email" class="box" placeholder="Edite o email" name="email">
            </div>

            <label for="senha" class="namebox">Senha:</label>
            <div class="fundoFormularioUsuario">
                <input type="password" class="box" placeholder="Edite a senha" name="senha">
            </div>

            <label for="senha-repeat" class="namebox">Confirme a senha:</label>
            <div class="fundoFormularioUsuario">
                <input type="password" class="box" placeholder="Repita a senha editada" name="senha-repeat">
            </div>

            <div class="modal-footerEditarUsuario">
                <button type="submit" class="fechar">Editar</button>
                <button class="cancelar">Cancelar</button>

            </div>
        </form>
    </div>

</div>