<html>
    <head>
        <meta charset="utf-8">
		<link rel="stylesheet" href="/public/css/lista-de-usuarios.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almendra">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jomhuria">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    </head>
    
    <body>
        <main id="mainUserList">
            <h1 class="titleUserList">Lista de Usuários</h1>
            <button class="criarUserList">Criar</button>
            <table class="tableUserList">
                <thead class="theadUserList">
                    <th class="thUserList">ID</th>
                    <th class="thUserList">Nome</th>
                    <th class="thUserList">E-mail</th>
                    <th class="thUserList">Ações</th>
                </thead>
                <tbody class="tbodyUserList">
                    <tr>
                        <td class="tdUserList">1</td>
                        <td class="tdUserList">Cristian</td>
                        <td class="tdUserList">cristianbarbosacristian@email.com</td>
                        <td class="tdUserList">
                            <button class="viewUserList">Visualizar</button>
                            <button class="editUserList">Editar</button>
                            <button class="delUserList">Deletar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>