<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Inika:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/public/css/sidebar.css">
    <link rel="shortcut icon" type="imagex/png" href="/public/assets/torre-logo.ico">
    
    <title>Admin em Torre do Sábio</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <nav class="sidebar">

        <div class="sidebar-close">
            <i class="bi bi-list"></i>
        </div>
        
        <ul>
            <li class="items-menu">
                <a href="#">
                    <span class="icon"></span>
                    <span class="link-do-texto"></span>
                </a>
            </li>
            <li class="items-menu">
                <a href="#">
                    <span class="icon"></span>
                    <span class="link-do-texto"></span>
                </a>
            </li>
            <li class="items-menu">
                <a href="#">
                    <span class="icon"></span>
                    <span class="link-do-texto"></span>
                </a>
            </li>
            <li class="items-menu">
                <a href="#">
                    <span class="icon"></span>
                    <span class="link-do-texto"></span>
                </a>
            </li>
            
    </nav>
</body>
    <script src="/public/js/sidebar.js"></script>
</html>