<!DOCTYPE html>
<html lang="pt">
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/public/css/tabela_de_posts.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almendra">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jomhuria">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    </head>
    
    <body>
        <main id="mainPostList">
            <div class="titleboxPostList">
                <h1 class="titlePostList"><b>Lista de Posts</b></h1>
                <button class="criarPostList">Criar</button>
            </div>
            <table class="tablePostList">
                <thead class="theadPostList">
                    <tr>
                        <th class="thPostList">ID</th>
                        <th class="thPostList">Título</th>
                        <th class="thPostList">Conteúdo</th>
                        <th class="thPostList">Ações</th>
                    </tr>
                </thead>
                <tbody class="tbodyPostList">
                    <tr>
                        <td class="tdPostList">1</td>
                        <td class="tdPostList">Exemplo de Título</td>
                        <td class="tdPostList">Conteúdo do post aqui</td>
                        <td class="tdPostList">
                            <button class="viewPostList">Visualizar</button>
                            <button class="editPostList">Editar</button>
                            <button class="delPostList">Deletar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>
