<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=10, minimum-scale=1.0">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="/public/css/footer.css">
        <link href="https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jomhuria">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    </head>
        <div class="footerfiltro" onclick="fotfechaModal('modalMissaofotValor'); fotfechaModal('modalVisaofotValor'); fotfechaModal('modalValoresfotValor')"></div>
        <div id="modalMissaofotValor" class="modalfotValor">
            <div class="tboxmodalfotValor">
                <h1><b class ="negrito">Nossa Missão</b></h1>
                <div class="clseboxmodalfotValor">
                    <button onclick="fotfechaModal('modalMissaofotValor')"><i class="bi bi-x-lg"></i></button>
                </div>
            </div>
            <div class="textmodalfotValor">
                Lorem ipsum suscipit quam pretium proin felis sodales morbi, laoreet fusce tristique laoreet placerat dolor lorem, congue eget ut rhoncus metus elementum aliquet. ut leo vivamus arcu pellentesque nec purus inceptos cras ligula sapien dictum, vulputate tempus aliquet condimentum rhoncus quam curabitur class quam porttitor. quam pharetra scelerisque condimentum suscipit pretium eu curabitur egestas, arcu ornare primis et felis duis sed nullam, congue curabitur mollis posuere lacus placerat consequat. sem nullam molestie leo aliquam turpis tellus iaculis, primis proin justo pharetra metus sapien ac, proin ultrices est condimentum nam ante. 
            </div>
        </div>
        <div id="modalVisaofotValor" class="modalfotValor">
            <div class="tboxmodalfotValor">
                <h1><b class ="negrito">Nossa Visão</b></h1>
                <div class="clseboxmodalfotValor">
                    <button onclick="fotfechaModal('modalVisaofotValor')"><i class="bi bi-x-lg"></i></button>
                </div>
            </div>
            <div class="textmodalfotValor">
                Lorem ipsum suscipit quam pretium proin felis sodales morbi, laoreet fusce tristique laoreet placerat dolor lorem, congue eget ut rhoncus metus elementum aliquet. ut leo vivamus arcu pellentesque nec purus inceptos cras ligula sapien dictum, vulputate tempus aliquet condimentum rhoncus quam curabitur class quam porttitor. quam pharetra scelerisque condimentum suscipit pretium eu curabitur egestas, arcu ornare primis et felis duis sed nullam, congue curabitur mollis posuere lacus placerat consequat. sem nullam molestie leo aliquam turpis tellus iaculis, primis proin justo pharetra metus sapien ac, proin ultrices est condimentum nam ante. 
            </div>
        </div>
        <div id="modalValoresfotValor" class="modalfotValor">
            <div class="tboxmodalfotValor">
                <h1><b class ="negrito">Nossos Valores</b></h1>
                <div class="clseboxmodalfotValor">
                    <button onclick="fotfechaModal('modalValoresfotValor')"><i class="bi bi-x-lg"></i></button>
                </div>
            </div>
            <div class="textmodalfotValor">
                Lorem ipsum suscipit quam pretium proin felis sodales morbi, laoreet fusce tristique laoreet placerat dolor lorem, congue eget ut rhoncus metus elementum aliquet. ut leo vivamus arcu pellentesque nec purus inceptos cras ligula sapien dictum, vulputate tempus aliquet condimentum rhoncus quam curabitur class quam porttitor. quam pharetra scelerisque condimentum suscipit pretium eu curabitur egestas, arcu ornare primis et felis duis sed nullam, congue curabitur mollis posuere lacus placerat consequat. sem nullam molestie leo aliquam turpis tellus iaculis, primis proin justo pharetra metus sapien ac, proin ultrices est condimentum nam ante. 
            </div>
        </div>
        <footer>
            <div class="footer-Container">
                <div id="logoCodeFotBox">
                    <img id="logoCodeFooter" src="/public/assets/code-logo.png">
                    <div id = "fotlogoIconBox">
                        <button class="footerSocialButtons"><i class="bi bi-whatsapp"></i></button>
                        <button class="footerSocialButtons"><i class="bi bi-instagram"></i></button>
                        <button class="footerSocialButtons"><i class="bi bi-facebook"></i></button>
                        <button class="footerSocialButtons"><i class="bi bi-twitter-x"></i></button>
                    </div>
                </div>
                <div id="fotBoxInverter">
                <div id ="boxValContacts">
                    <div class="fotValor">
                        <ul>
                            <li><button class="footertext" onclick="fotabreModal('modalMissaofotValor')">Nossa Missão</button></li>
                            <li><button class="footertext" onclick="fotabreModal('modalVisaofotValor')">Nossa Visão</button></li>
                            <li><button class="footertext" onclick="fotabreModal('modalValoresfotValor')">Nossos Valores</button></li>
                        </ul>
                    </div>
                    <div class="fotContacts">
                        <p class="fotContactsText">Fale conosco:</p>
                        <p class="fotContactsText"><b class = "negrito">e-mail:</b> torre.do.sabio@gmail.com</p>
                        <p class="fotContactsText"><b class = "negrito">celular:</b> (32) 912345678</p>
                    </div>
                </div>
                <div id="fotSocials">
                    <p id ="fotSocialsTitle">Redes Sociais:</p>
                    <div id = "fotIconBox">
                        <button class="footerSocialButtons"><i class="bi bi-whatsapp"></i></button>
                        <button class="footerSocialButtons"><i class="bi bi-instagram"></i></button>
                        <button class="footerSocialButtons"><i class="bi bi-facebook"></i></button>
                        <button class="footerSocialButtons"><i class="bi bi-twitter-x"></i></button>
                    </div>
                </div>
                </div>
            </div>
        </footer>
    <script src="/public/js/footer.js"></script>