<html>
    <head>
        <meta charset="utf-8">
		<link rel="stylesheet" href="/public/css/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almendra">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jomhuria">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    </head>
    <body>

        <header>
            <nav class="navbar-Container">
                <a  class="logoNavbar" rel="logo da Torre do Sábio" href="#navLogText"><img src="/public/assets/Logo-Linda.png"></a><!--falta href-->
                <ul class = "nav-lnk-container">
                    <li class="navlist"><a  class="navtext" href="Inicio">Início</a></li><!--falta href-->
                    <li class="navlist"><a  class="navtext" href="Publicacoes">Publicações</a></li><!--falta href-->
                    <li class="navlist"><a href="Inicio" id="navLogText">Login</a></li><!--falta href-->
                </ul>
            </nav>
        </header>
        <main>
        </main>





        <footer>
            <div class="footer-Container">
                <img id="logoCode" src="/public/assets/code-logo.png">
                <div class="fotValor">
                    <ul>
                        <li><a href="Iniio">Nossa Missão</a></li><!-- consertar aparência-->
                        <li><a href="Inio">Nossa Visão</a></li>
                        <li><a href="Inici">Nossos Valores</a></li>
                    </ul>
                </div>
                <div class="fotContacts">
                    <p>Fale conosco:</p>
                    <p>e-mail: torre.do.sabio@gmail.com</p>
                    <p>celular: (32) 912345678</p>
                </div>
                <div id="fotSocials">
                    <p>Redes Sociais:</p>
                    <div id = "fotIcon">
                        <p>zap</p>
                        <p>insta</p>
                        <p>face</p>
                        <p>X</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>