<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/landing-styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Jomhuria&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Torre do Sábio</title>
</head>


<body>

    
    <div class="total">
        
        <div class="background-img">
            
            <div class="hero-section">
               
                <div class="img-torre"></div>
                    
                <div class="transparent">
                    <h1>Toda a magia na palma da sua mão!</h1>

                    <p>Embarque nessa aventura e conheça os mais diversos tesouros escondidos dos jogos de tabuleiro!</p>
                </div>

                <div class="hero-buttons">
                    <button class="btn-hero" id="login">Login</button>
                    <button class="btn-hero" id="publi">Publicações</button>
                </div>


            </div>
            
        </div>
        


        <div class="publi-img">

            <div class="post-space">
                <h1>Publicações</h1>
                
                <div class="post-grid">
                    
                    <div style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 37.9%, rgba(255, 255, 255, 0.28) 100%), url(../../../public/assets/PostPrincipal.jpg) lightgray 50% / cover no-repeat" class="post-grande"></div>
                    <div style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 37.9%, rgba(255, 255, 255, 0.28) 100%), url(../../../public/assets/Post1.jpg) lightgray 50% / cover no-repeat" class="post" id="post1"></div>
                    <div style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 37.9%, rgba(255, 255, 255, 0.28) 100%), url(../../../public/assets/Post2.jpg) lightgray 50% / cover no-repeat" class="post" id="post2"></div>
                    <div style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 37.9%, rgba(255, 255, 255, 0.28) 100%), url(../../../public/assets/Post3.jpg) lightgray 50% / cover no-repeat" class="post" id="post3"></div>
                    <div style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 37.9%, rgba(255, 255, 255, 0.28) 100%), url(../../../public/assets/Post4.png) lightgray 50% / cover no-repeat" class="post" id="post4"></div>
                      
                </div>

                <div class="btn-post">
                    <button id="ler-mais">LER MAIS</button>
                </div>
                
            </div>

        </div>

    </div>    



    
</body>

</html>