<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/landing-styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Jomhuria&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Torre do Sábio</title>
</head>


<body>

    
    <div class="total">
        
        <div class="background-img">
            
            <div class="hero-section">
               
                <div class="img-torre"></div>
                    
                <div class="transparent">
                    <h1>Toda a magia na palma da sua mão!</h1>

                    <p>Embarque nessa aventura e conheça os mais diversos tesouros escondidos dos jogos de tabuleiro!</p>
                </div>

                <div class="hero-buttons">
                    <button class="btn-hero" id="login">Publicações</button>
                    <button class="btn-hero" id="publi">Sobre nós</button>
                </div>


            </div>
            
        </div>
        


        <div class="publi-img">

            <div class="post-space">
                <h1>Publicações</h1>
                
                <div class="post-grid">
                    
                    <div style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 37.9%, rgba(255, 255, 255, 0.28) 100%), url(../../../public/assets/PostPrincipal.jpg) lightgray 50% / cover no-repeat" class="post-grande">
                        <h2>Notícias e lançamentos</h2>
                        <p>Conheça Xadrez 2, lançamento chocante e doideira!</p>
                    </div>
                    <div style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 37.9%, rgba(255, 255, 255, 0.28) 100%), url(../../../public/assets/Post1.jpg) lightgray 50% / cover no-repeat" class="post" id="post1">
                        <h3>Notícias e lançamentos</h3>
                        <p>Conheça Terras de Andor, novo jogo para jogar!</p>
                    </div>
                    <div style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 37.9%, rgba(255, 255, 255, 0.28) 100%), url(../../../public/assets/Post2.jpg) lightgray 50% / cover no-repeat" class="post" id="post2">
                        <h3>Notícias e lançamentos</h3>
                        <p>Tchibum na Lagoa: cheirinho de infância vem forte!</p>
                    </div>
                    <div style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 37.9%, rgba(255, 255, 255, 0.28) 100%), url(../../../public/assets/Post3.jpg) lightgray 50% / cover no-repeat" class="post" id="post3">
                        <h3>Notícias e lançamentos</h3>
                        <p>Quem aí lembra desse jogo? Amava jogar com 8 anos!</p>
                    </div>
                    <div style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 37.9%, rgba(255, 255, 255, 0.28) 100%), url(../../../public/assets/Post4.png) lightgray 50% / cover no-repeat" class="post" id="post4">
                        <h3>Notícias e lançamentos</h3>
                        <p>Receita pra guerra e problemas de pressão é isso!</p>
                    </div>

                </div>

                    <div class="carousel">

                        <span id="item-1"></span>
                        <span id="item-2"></span>
                        <span id="item-3"></span>
                        <span id="item-4"></span>
                        <span id="item-5"></span>
                        
                        
                        <div class="c-item item-1">
                            <a href="#item-5" class="prev arrow"></a>
                            <a href="#item-2" class="next arrow"></a>
                            <div class="testeC">
                                <h2>Notícias e lançamentos</h2>
                                <p>Conheça Xadrez 2, lançamento chocante e doideira!</p>
                            </div>
                        </div>
                        
                        <div class="c-item item-2">
                            <a href="#item-1" class="prev arrow"></a>
                            <a href="#item-3" class="next arrow"></a>
                            <div class="testeC">
                                <h2>Notícias e lançamentos</h2>
                                <p>Conheça Terras de Andor, novo jogo para jogar!</p>
                            </div>
                        </div>
                        
                        <div class="c-item item-3">
                            <a href="#item-2" class="prev arrow"></a>
                            <a href="#item-4" class="next arrow"></a>
                            <div class="testeC">
                                <h2>Notícias e lançamentos</h2>
                                <p>Tchibum na Lagoa: cheirinho de infância vem forte!</p>
                            </div>
                        </div>
                        
                        <div class="c-item item-4">
                        <a href="#item-3" class="prev arrow"></a>
                        <a href="#item-5" class="next arrow"></a>
                        <div class="testeC">
                            <h2>Discussões em comunidade</h2>
                            <p>Quem aí lembra desse jogo? Amava jogar com 8 anos!</p>
                        </div>
                    </div>
                    
                    <div class="c-item item-5"> 
                        <a href="#item-4" class="prev arrow"></a>
                        <a href="#item-1" class="next arrow"></a>
                        <div class="testeC">
                            <h2>Notícias e lançamentos</h2>
                            <p>Receita pra guerra e problemas de pressão é isso!</p>
                        </div>
                    </div> 
                </div>
                    
        
                <div class="btn-post">
                    <button id="ler-mais">LER MAIS</button>
                </div>
            </div>
                
            </div>

        </div>


    
</body>

</html>