<!DOCTYPE html>
<html lang="pt-br"><!--mudar para portugues-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jomhuria&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../../public/css/listadeposts.css" />
    <title>Lista de posts</title><!--adicionar titulo-->
</head>
<body>
    <header>
        <div class="header_main">
            <h1> Nossos artigos </h1>
            <div class="search_main">
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
                    <input type="text" placeholder="Pesquisa">
                </div> 
                <div class="filter">

                </div>
            </div>
        </div>
   
    </header>
        
    
</body>
<script src="https://kit.fontawesome.com/c49cc74a49.js" crossorigin="anonymous"></script>
</html>