<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/login.css"/>
</head>
<body>
    <div class="ImagemFundo">
        <div class="ImagemJogos"></div>
        <forms class="AbaLogin">
            <h1>Bem Vindo(a)!</h1>
                <div class="EmailSenha">
                    <input class="email" type="text" placeholder="Email" name="email" required>
                    <input class="senha" type="password" placeholder="Senha" name="senha" required>
                </div>
            <div class="Botão">
                <button type="submit">Login</button>
            </div>
        </forms>
    </div>
</body>
</html>