<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jomhuria">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sail">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almendra">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="../../../public/css/login.css"/>
</head>
<body>
    <div class="ImagemFundo">
        <div class="ImagemJogos">
            <div class="Logo">
        </div>
            <h1>Torre do Sábio</h1>
        </div>
        <form class="AbaLogin">
            <h1>Bem Vindo(a)!</h1>
                <div class="EmailSenha">
                    <div class="fundoEmailSenha">
                        <span class="material-icons icone">mail</span>
                        <input class="email" type="text" placeholder="Email" name="email" required>
                    </div>
                    <div class="fundoEmailSenha">
                        <span class="material-icons icone">lock</span>
                        <input class="senha" type="password" placeholder="Senha" name="senha" required>
                    </div>        
                </div>
            <div class="Botão">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</body>
</html>