<!DOCTYPE html>
<html lang="pt">
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=10, minimum-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		<link rel="stylesheet" href="/public/css/navbar.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almendra">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jomhuria">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    </head>
    <body>

        <header>
            <nav class="navbar-Container">
                <a  class="logoNavbar" rel="logo da Torre do Sábio" href="#navLogText"><img id = "logonavbarimg" src="/public/assets/logo-linda-sem-linha.png"></a><!--falta href-->
                <ul class = "nav-lnk-container">
                    <li id="navInicio" class="navbarlist"><a  class="navtext" href="Inicio">Início</a></li><!--falta href-->
                    <li id="navPubli" class="navbarlist"><a  class="navtext" href="Publicacoes">Publicações</a></li>
                    <li class="navhamLi navhamLiClosed"><button onclick="navhamshow()" class="navhamButton"><i class="navlisticon bi bi-list"></i></button></li>
                    <li class="navhamLi navhamLiOpen hidden"><button onclick="navhamshow()" class="navhamButton"><i class="navlisticon bi bi-caret-down-fill"></i></button></li>
                </ul>
                <button id="navLogText"><a href="login"></a>Login</button>
            </nav>
            <div class="navhamMenu">
                <a  class="navtext" href="Inicio">Início</a>
                <a  class="navtext" href="Publicacoes">Publicações</a>
                <button id="navhamlogbutton">Login</button>
            </div>
        </header>
    </body>
    <script src="/public/js/navbar.js"></script>
</html>
