<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/public/css/post-individual.css">
    <link rel="shortcut icon" type="imagex/png" href="/public/assets/torre-logo.ico">
    <title>Post individual em Torre do Sábio</title>
</head>
<body>
    <main class="main">
        <h1>Lore Ipsum</h1>
        <img class="imagem" src="/public/assets/xadrez.jpeg" alt="Imagem jogo de xadrez">
        <div class="box">
            <div class="autoria">
                
                <p>Escrito por Username em XX/XX/XXXX</p>
            </div>
            <div class="box-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut mauris gravida, maximus tellus id, dictum urna. Cras ornare tellus justo, sit amet maximus sapien maximus dictum. Mauris velit justo, suscipit ac leo sit amet, ornare finibus felis. Donec felis leo, euismod sed ultricies in, maximus quis nulla. Vestibulum sed congue mi. Praesent eleifend viverra ipsum, ac aliquet est euismod et. In et pharetra est, eget convallis nulla. In hac habitasse platea dictumst. Etiam ullamcorper sed est ac vestibulum. Aliquam sit amet quam ultrices elit dapibus cursus. Praesent elit lacus, suscipit quis ante non, sagittis tristique diam. Praesent vestibulum quam sit amet ipsum sodales, et eleifend ligula pharetra. </p>
            </div>
        </div>
    </main>
</body>
</html>